@page "/databinding/bindinputfields"

<h3>Bind input fields</h3>

<p>
  <label>Firstname</label>
  <input @bind="FirstName" />
</p>
<p>
  <label>Firstname (update on input)</label>
  <input @bind="FirstName" @bind:event="oninput"/>
</p>
<p>
  <label>Lastname</label>
  <input @bind="LastName" />
</p>



<div>
  Fullname: @FirstName @LastName
</div>

@code{
  string FirstName { get; set; }
  string LastName { get; set; }
}
