@page "/renderfragment/cardoverview"

<h3>CardOverview</h3>

@{ 
  // TODO: 1. Create here a CardComponent and set the properties CartTitle, CardText and CardBodyContent to <p> tags with a bit of text
}