@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@{ 
  // TODO: 4. Add here the Counter component, run the app, open the Index component and see that it now also contains the Counter component
}