@page "/githubrepos"
@inject HttpClient Http

<h1>GitHub Repos</h1>

<p>Enter github username and hit enter</p>
<p>If the username does not exist, this component runs into an exception - see browser console</p>

<div>
  <label>GitHub user name:</label>
  <input class="form-control" @bind="@githubUsername" @onkeyup="OnUsernameKeyUpAsync" />
</div>

@if (isLoading)
{
  <p>Loading...</p>
}
else
{
  @if (repos != null)
  {
    <ul>
      @foreach (var repo in repos)
      {
        <li>
          <div>@repo.Name</div>
          <p>@repo.Description</p>
        </li>
      }
    </ul>
  }
  else
  {
    <p>No repos found</p>
  }
}


@code {
  private string githubUsername = "thomasclaudiushuber";
  private GitHubRepo[] repos;
  bool isLoading;

  protected override async Task OnInitializedAsync()
  {
    await LoadDataAsync();
  }

  private async Task LoadDataAsync()
  {
    isLoading = true;
    repos = await Http.GetFromJsonAsync<GitHubRepo[]>($"https://api.github.com/users/{githubUsername}/repos");
    isLoading = false;
  }

  private async Task OnUsernameKeyUpAsync(KeyboardEventArgs e)
  {
    if (e.Key == "Enter")
    {
      await LoadDataAsync();
    }
  }



  public class GitHubRepo
  {
    public string Name { get; set; }
    public string Description { get; set; }
  }
}
