<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Razor Components</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
  <ul class="nav flex-column">
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> Home
      </NavLink>
    </li>
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="renderfragment/cardoverview">
        <span class="oi oi-plus" aria-hidden="true"></span> RenderFragement
      </NavLink>
    </li>
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="databinding/bindinputfields">
        <span class="oi oi-plus" aria-hidden="true"></span> Bind Input fields
      </NavLink>
    </li>
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="eventhandling/deleteevent">
        <span class="oi oi-plus" aria-hidden="true"></span> Event handling
      </NavLink>
    </li>

    <li class="nav-item px-3">
      <NavLink class="nav-link" href="componentlifecycle/lifecycledisplayer">
        <span class="oi oi-plus" aria-hidden="true"></span> Component lifecylce
      </NavLink>
    </li>

  </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
