@page "/sayhello"

<h3>Hello @FirstName</h3>

<p>Change the firstname "@FirstName" in the URL to something else and hit Enter. Try also what happens when you don't specify a firstname</p>

@code {

  // TODO: 1. Change the route to take a firstname parameter
  // TODO: 2. Make this FirstName property a parameter property, so that the route parameter can be stored in it

  public string FirstName { get; set; }

}
