@page "/"
@{
  // TODO: 4. Inject the NavigationManager into this component by using the @inject directive
}


<h1>Hello</h1>

<p>Click the button to navigate to the counter component</p>

<button class="btn btn-primary" @onclick="ButtonClick">
  Navigate to counter
</button>

@code{
  private void ButtonClick()
  {
    // TODO: 5. Use the NavigationManager to navigate from this event handler to the Counter component
  }
}


