@page "/renderfragment/cardoverview"

<h3>CardOverview</h3>

<CardComponent>
  <CardTitle><strong>Thomas</strong> Claudius Huber</CardTitle>
  <CardText>Hi, I'm <strong>Thomas</strong>, nice to meet you</CardText>
  <CardBodyContent>
    <a class="btn btn-primary" href="https://www.thomasclaudiushuber.com" target="_blank">Click here to navigate to my website</a>
  </CardBodyContent>
</CardComponent>